#listEndContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 5px;
  width: 120px;
  height: 180px;
  overflow-y: scroll;
  padding-left: 5px;
  padding-top: 5px;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;

  p {
    cursor: pointer;
    padding: 5px 0;
    &:hover {
      background-color: var(--color-hightlight);
    }
  }
}
