#spinnerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: rotate 2s linear infinite;

  #spinner {
    fill: none;
    height: 100%;
    width: 100%;
    stroke-linecap: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: animate 4s linear infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0%,
  100% {
    stroke-dashoffset: 100;
  }
  50% {
    stroke-dashoffset: 0;
  }

  50.1% {
    stroke-dashoffset: 200;
  }
}
