.pomodoroContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  #logButtonsContainer {
    position: absolute;
    top: 20px;
    right: 50px;
    display: flex;
    gap: 20px;
    z-index: 10;

    #signInButton {
      width: 180px;
      height: 58px;
      flex-shrink: 0;
      border-radius: 9px;
      background: var(--color-second-backgroud);
      border: none;
      cursor: pointer;
      font-size: 16px;
      color: var(--color-text);
    }

    #signUpButton {
      width: 180px;
      height: 57px;
      flex-shrink: 0;
      border-radius: 9px;
      border: 2px solid var(--color-blue);
      cursor: pointer;
      font-size: 16px;
      background-color: var(--color-backgroud);
      transition: background-color 0.2s ease-in-out;
      color: var(--color-text);

      &:hover {
        background: var(--color-hightlight);
      }
    }
  }
}
