@import "../../../../utils/variables.scss";

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.51);
  z-index: 10;
}

.modalContent {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 20px;
  max-width: 365px;
  width: 100%;
  min-height: 316px;
  border-radius: 10px;
}

.modalTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 26px;

  h3 {
    font-weight: 300;
  }
}

.inputSettings {
  display: flex;

  .inputsTitle {
    width: 100%;
    margin-bottom: 10px;

    p {
      font-size: 20px;
    }

    span {
      font-size: 14px;
    }
  }

  flex-wrap: wrap;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;

  p {
    font-size: 14px;
    padding-left: 2px;
  }

  input {
    outline: none;
    padding-left: 8px;
    padding-top: 3px;
    border-radius: 6px;
    border: none;
    text-align: left;
    width: 80px;
    height: 30px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    background-color: var(--color-second-backgroud);
  }

  .firstInput {
    justify-content: center;

    .firstInput input {
      justify-content: center;
    }
  }
}

.autoPlayContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.autoPlayContainer p {
  position: relative;
  top: 0.1rem;
}

.btnCloseModalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
}

.ValidateButton {
  position: absolute;
  cursor: pointer;
  width: 105px;
  height: 40px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: 0.3s ease-in-out;
}

@media all and (max-width: 400px) {
  .modalContent {
    max-width: 335px;
  }

  .modalTitle {
    h3 {
      font-size: 24px;
    }
  }
}

@media all and (max-width: 350px) {
  .modalContent {
    max-width: 305px;
  }
}
