:root {
  body.dark {
    --color-backgroud: #1e1f26;
    --color-second-backgroud: #282930;
    --color-third-backgroud: #272830;
    --color-fourth-backgroud: #22232a;
    --color-blue: #678bff;
    --color-hover: #7192ff;
    --color-hightlight: rgba(103, 139, 255, 0.05);
    --color-text: #ffffff;
    --color-placeholder: #a9a9a9;
    --color-line: #353842;

    // input

    --color-border-input: #282930;

    // box shadow
    --box-shadow-button: 6px 6px 14px 0px #17171d, -6px -6px 14px 0px #2b2c36;
    --box-shadow-timer: 15px 15px 30px 0px #17171d, -15px -15px 30px 0px #262730;
    --box-shadow-input: 1px 1px 2px 0px #151515 inset;
    --box-shadow-container: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
  }

  body.light {
    --color-backgroud: #F7F6F9;
    --color-second-backgroud: #ffffff;
    --color-third-backgroud: #f0f0f3;
    --color-blue: #2a72f1;
    --color-hover: #387aec;
    --color-hightlight: #e8f0fe;
    --color-text: #383838;
    --color-placeholder: #a9a9a9--color-hightlight;
    --color-line: #dbdbdb;

    // input

    --color-border-input: #dbdbdb;

    // box shadow
    --box-shadow-button: 1.5px 1.5px 3px 0px rgba(174, 174, 192, 0.4),
      -3px -3px 6px 0px #fff;
    --box-shadow-timer: 20px 20px 40px 0px #a8a8a8, -20px -20px 40px 0px #fff;
    --box-shadow-input: 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
    --box-shadow-container: 2px 2px 6px 0px rgba(181, 181, 181, 0.25);
  }
}

// $color-primary: #7380ec;
// $color-danger: #ff7782;
// $color-success: #41f1b6;
// $color-warning: #ffbb55;
