// Dark theme variables

// Colors

$dark-backgroud: #001E31;
$dark-Secodary-blue: #011723;
$dark-thirdary-blue: #24C8BE;
$dark-fourthary-blue: #052933;
$dark-bronze: #857446;
$dark-primary-text: #ffffff;
$dark-secondary-text: #DEB992;


