// Dark theme variables

// Colors

$dark-backgroud: #1e1f26;
$dark-lighter-grey: #282930;
$dark-darker-grey: #272830;
$dark-blue: #678bff;
$dark-blue-hover: #7192ff;
$dark-hightlight-blue: rgba(103, 139, 255, 0.05);
$dark-white: #ffffff;
$dark-darker-white: #a9a9a9;

// Dark theme variables

$light-backgroud: #f2f2f2;
$light-white: #ffffff;
$light-grey: #f0f0f3;
$light-blue: #2a72f1;
$light-blue-hover: #f7f9ff;
$light-hightlight-blue: rgba(103, 139, 255, 0.05);
$light-darker-white: #a9a9a9;
$light-darker-grey: #383838;
