@import "../../../utils/variables.scss";

.timerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  border: none;
  cursor: pointer;
  background: $dark-darker-grey;
  background: #272830;
  box-shadow: 6px 6px 14px 0px #17171d, -6px -6px 14px 0px #2b2c36;
  border-radius: 9px;
}
