@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins:wght@300;400;500;700;800&display=swap");
@import "./utils/variables.scss";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// make a light and dark theme for the body.

// light theme
body.light {
  background-color: #f2f2f2;
  color: $dark-backgroud;

  // GENRAL

  button {
    background-color: rgb(255, 255, 255);
  }

  .backgroundBlue {
    background-color: #2a72f1;
  }

  .backgroundBlue:hover {
    $light-blue-hover: $light-blue-hover;
  }

  p {
    font-weight: 300;
    color: $light-darker-grey;
  }

  .neumorphismShadow {
    box-shadow: 1.5px 1.5px 3px 0px rgba(174, 174, 192, 0.4),
      -3px -3px 6px 0px #fff;
  }

  //NAVBAR

  .navbarBackground {
    background-color: $light-white;
  }

  .selected {
    background-color: $light-hightlight-blue;
  }

  // POMODORO

  .timerBackground {
    background-color: $light-backgroud;
    box-shadow: 20px 20px 40px 0px #a8a8a8, -20px -20px 40px 0px #fff;
  }
}

body.dark {
  background-color: $dark-backgroud;
  color: #f2f2f2;

  //GENRAL

  // BUTTON
  button {
    background: #282930;
  }

  .backgroundBlue {
    background-color: $dark-blue;
  }

  .backgroundBlue:hover {
    background-color: $dark-blue-hover;
  }

  p {
    font-weight: 300;
    color: $dark-white;
  }

  .neumorphismShadow {
    box-shadow: 6px 6px 14px 0px #17171d, -6px -6px 14px 0px #2b2c36;
  }

  //NABAR

  .navbarBackground {
    background-color: $dark-lighter-grey;
  }

  .selected {
    background-color: $dark-hightlight-blue;
  }

  // POMODORO

  .timerBackground {
    background-color: $dark-backgroud;
    box-shadow: 15px 15px 30px 0px #17171d, -15px -15px 30px 0px #262730;
  }
}

// dark theme
