@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins:wght@300;400;500;700;800&display=swap");
@import "./utils/variables.scss";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

// make a light and dark theme for the body.

// light theme
body.light {
  background-color: #f2f2f2;
  color: $dark-backgroud;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: $light-backgroud;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  .background {
    background-color: $light-backgroud;
  }

  // GENRAL

  button {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: #fff;
  }

  .backgroundBlue {
    background-color: #2a72f1;

    &:hover {
      background-color: $light-blue-hover;
    }
  }

  p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    color: $light-darker-grey;
  }

  input {
    color: #595c5f;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dadce0;

    &::placeholder {
      color: $dark-darker-white;
    }
  }

  textarea {
    color: #595c5f;
    background-color: transparent;
    border: 1px solid #dadce0;

    &::placeholder {
      color: $dark-darker-white;
    }
  }

  .neumorphismShadow {
    box-shadow: 1.5px 1.5px 3px 0px rgba(174, 174, 192, 0.4),
      -3px -3px 6px 0px #fff;
  }

  .inputBackground {
    background-color: $light-grey;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
    color: $light-darker-grey;
  }

  //NAVBAR

  .navbarBackground {
    background-color: $light-white;
  }

  .selected {
    background-color: $light-hightlight-blue;
  }

  // POMODORO

  .timerBackground {
    background-color: $light-backgroud;
    box-shadow: 20px 20px 40px 0px #a8a8a8, -20px -20px 40px 0px #fff;
  }
}

body.dark {
  background-color: $dark-backgroud;
  color: #f2f2f2;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: $dark-backgroud;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  //GENRAL

  .background {
    background-color: $dark-backgroud;
  }

  // BUTTON
  button {
    background: $dark-lighter-grey;
    cursor: pointer;
    color: #fff;
  }

  .backgroundBlue {
    background-color: $dark-blue;
  }

  .backgroundBlue:hover {
    background-color: $dark-blue-hover;
  }

  p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    color: $dark-white;
  }

  input {
    color: $dark-white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $dark-lighter-grey;

    &::placeholder {
      color: $dark-darker-white;
    }
  }

  textarea {
    color: $dark-white;
    background-color: transparent;
    border: 1px solid $dark-lighter-grey;

    &::placeholder {
      color: $dark-darker-white;
    }
  }

  .neumorphismShadow {
    box-shadow: 6px 6px 14px 0px #17171d, -6px -6px 14px 0px #2b2c36;
  }

  .inputBackground {
    background-color: $dark-lighter-grey;
    box-shadow: 1px 1px 2px 0px #151515 inset;
    color: #fff;
  }

  //NABAR

  .navbarBackground {
    background-color: $dark-lighter-grey;
  }

  .selected {
    background-color: $dark-hightlight-blue;
  }

  // POMODORO

  .timerBackground {
    background-color: $dark-backgroud;
    box-shadow: 15px 15px 30px 0px #17171d, -15px -15px 30px 0px #262730;
  }
}
