@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins:wght@300;400;500;700;800&display=swap");
@import "./utils/variables.scss";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  background-color: var(--color-backgroud);
  color: var(--color-text);
  height: 100vh;

  // scrollbar
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-backgroud);
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
  }

  //GENRAL

  .background {
    background-color: var(--color-backgroud);
  }

  // BUTTON
  button {
    background: var(--color-second-backgroud);
    cursor: pointer;
    color: #fff;

    &:disabled {
      background: var(--color-button-disabled);
      cursor: not-allowed;
    }
  }

  .backgroundBlue {
    background-color: var(--color-blue);
  }

  p,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
    color: var(--color-text);
  }

  input {
    color: var(--color-text);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-border-input);

    &::placeholder {
      color: --color-placeholder;
    }
  }

  textarea {
    color: var(--color-text);
    background-color: transparent;
    border: 1px solid var(--color-border-input);

    &::placeholder {
      color: --color-placeholder;
    }
  }

  .neumorphismShadow {
    box-shadow: var(--box-shadow-button);
  }

  .inputBackground {
    background-color: var(--color-second-backgroud);
    box-shadow: var(--box-shadow-input);
    color: var(--color-text);
  }

  //NABAR

  .navbarBackground {
    background-color: var(--color-second-backgroud);
  }

  .selected {
    background-color: var(--color-hightlight);
  }

  // POMODORO

  .timerBackground {
    background-color: var(--color-backgroud);
    box-shadow: var(--box-shadow-timer);
  }

  #openNavbarButton {
    padding-top: 6px;
    z-index: 100;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: var(--color-second-backgroud);
    border: 1px solid var(--color-blue);
    border-radius: 6px;
    width: 40px;
    height: 40px;
  }
}
